<!--<div class="image-box">-->
<!--  <div class="container border-bottom justify-content-end">-->
<!--      <h1 class="position-sticky">TEST</h1>-->
<!--      <h1 class="position-sticky ">TEST</h1>-->
<!--  </div>-->
<!--</div>-->

<header class="masthead text-black-50 text-center">
  <div class="container d-flex align-items-center flex-column">

    <!-- Masthead Avatar Image -->
    <img class="masthead-avatar mb-2" src="assets/images/logoImage.png" alt="">

    <button type="button" class="btn btn-dark mybtn" (click)="inloggen()">Inloggen</button>
    <!-- Masthead Subheading -->
    <p class="masthead-subheading font-weight-light mb-0 mt-5">Log in of maak een account aan om aan de slag te gaan!
    </p>

  </div>
</header>
<!-- About Section -->
<section class="page-section bg-dark text-white mb-0" id="about">
  <div class="container">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

    <!-- About Section Content -->
    <div class="row mt-4">
      <div class="col-lg-4 ml-auto">
        <p class="lead">Match a Maker is een applicatie ontworpen door 4 IT-studenten tijdens de Grasshopper Application
          Challenge. De App is ontwikkeld in Angular met een .NET API</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">De bedoeling van de App is het 'matchen' van makers en bedrijven. Bedrijven kunnen hier
          opdrachten posten waar makers zichzelf voor kunnen inschrijven.</p>
      </div>
    </div>
    <!-- About Section Button -->
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light myLightbtn" (click)="registreren()">
        Registreren
      </a>
    </div>

  </div>
</section>


<!-- Copyright Section -->
<section class="copyright py-4 text-center">
  <div class="container">
    <small>Copyright &copy; Match A Maker 2019</small>
  </div>
</section>
