.lijst{
  list-style: none;
  list-style-type: none;
}
.mybtn:hover{
  background-color:  #3498DB;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  position: absolute;
  height: 100%;
  overflow: auto;
  border-right: 1px solid lighten(#343A40, 50%) ;
}

.sidebar .mycheckbox {
  display: block;
  color: black;
  padding-top: 16px;
  text-decoration: none;
}


div.content {
  margin-left: 150px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .sidebar .mycheckbox {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar .mycheckbox {
    text-align: center;
    float: none;
  }
}

.myCard{
  border-radius: 20px;
}